* {
    margin: 0;
    padding: 0;
    background-color: #CDE8E5;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.display {
    width: 95%;
    height: 8vh;
    font-size: 200%;
    border-radius: 5px;
    margin: 3vh 0 1vh 0;
    background-color: #EEF7FF;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.keys {
    height: 60vh;
    width: 95%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 6% 5%;
}

button {
    font-size: 100%;
    padding: 3vw;
    border: 1px solid black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.nums {
    border-radius: 50%;
    background-color: #7AB2B2;
    color: rgb(255, 255, 255);

}

.operators {
    border-radius: 50%;
    background-color: #4D869C;
    color: black;
}

#equalbtn {
    grid-column: 1/5;

}

.copy p {
    margin: 2vw 0;
    text-align: center;
}

.main button:hover {
    background-color: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;


}


@media screen and (min-width:600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main {
        border: 2px solid black;
        border-radius: 10px;
        width: 40%;
        height: 80vh;

    }

    .display {
        width: 80%;
        margin: 0 0 2vh 0;
    }

    .keys {
        height: 85%;
        width: 80%;
    }

    button {
        font-size: 30px;
        padding: 10px;
    }

    h1 {
        margin: 2vh 0;
        text-align: center;
    }

}